<div>
    <div class="row">
        <div class="col-md-5">
            <div class="logo1">
                <h4>Play</h4>
                <img class="cell"  src="assets/black_joker.svg" [routerLink]="['/game']">
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="row">
                <div class="logo2">
                    <h4>RULES</h4>
                    <img class="cell"  src="assets/red_joker.svg"  [routerLink]="['/rules']" >
                </div>
            </div>
        </div>

    </div>
</div>