
<div class="rules">
    <div class="row">
        <div class="col-md-2"><img   src="assets/ace_of_spades.svg" ></div>
    </div>
    <div class="row">
        <div class="col-md-1"><h3>Rules</h3></div>
    </div>
    <div class="row">
        <p>
            Dans ce jeu, un joueur tire une main de 10 cartes de manière aléatoire.
    Chaque carte possède une couleur ("Carreaux", par exemple) et une valeur ("10", par exemple).
    On vous demande de:
    
        Construire un ordre aléatoire des couleurs. L'ordre des couleurs est, par exemple, l'un des suivants :
    
        --> Carreaux, Coeur, Pique, Trèfle
    
        Construire un ordre aléatoire des valeurs. L'ordre des valeurs est, par exemple, l'un des suivants :
    
        --> As, 5, 10, 8, 6, 7, 4, 2, 3, 9, Dame, Roi, Valet
    
        Construire une main de 10 cartes de manière aléatoire.
        Présenter la main "non triée" à l'écran puis la main triée selon n'importe quel ordre défini dans la 1ère et 2ème étape. C'est-à-dire que vous devez classer les cartes par couleur et valeur.
        </p>
    </div>

</div>