
<br>

<button class="btn btn-primary" (click)="generateGame()"> Generate Hand</button>
<br>
<br>
<br>
<button class="btn btn-primary"  [disabled]="isSortButtonDisabled" (click)="sortHand()">SORT HAND</button>


<div *ngIf="cardTypeSort">
  <app-card [title]="cardTypeSortTitle" [cards]="cardTypeSort"></app-card>
<br>
<br>
</div>
<div *ngIf="cardValueSort">
  <app-card [title]="cardValueSortTitle" [cards]="cardValueSort"></app-card>
<br>
<br>
</div>

<div *ngIf="selectedCards">
  <app-card *ngIf="selectedCards" [title]="selectedCardTitle" [cards]="selectedCards"></app-card>
<br>
<br>
</div>



<br>
<br>

<div *ngIf="sortedCards">
  <app-card *ngIf="sortedCards" [title]="sortedCardTittle" [cards]="sortedCards"></app-card>
<br>
<br>
</div>


