.container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.item{
    order:10;
    flex-basis: auto;
    flex: 1 1 auto; 
}

.cell{
   width: 100px;
   height: 100px;
  
   box-shadow: 0 0px 0px rgba(0,0,0,.08), 0 0 0px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

}

h3{
    margin-left: 45%;
}

.item:hover img {
    opacity: 0.8;
    transform: scale(2.5);
  }
  
